@tailwind base;
@tailwind components;
@tailwind utilities;


.my-slider {
    padding: 25px;
  }
  
  .my-slider .swiper {
    width: 100%;
    padding: 0 3rem;
  }
  
  .my-slider .swiper-button-prev {
    width: 30px;
    height: 30px;
    left: var(--swiper-navigation-sides-offset, -8px);
  
    &::after {
      font-size: 25px;
      color: black;
    }
  }
  
  .my-slider .swiper-button-next {
    width: 30px;
    height: 30px;
    right: var(--swiper-navigation-sides-offset, -8px);
  
    &::after {
      font-size: 25px;
      color: black;
    }
  }

  /* Style the scrollbar container */
::-webkit-scrollbar {
  width: 8px;  /* Slim scrollbar */
  height: 8px; /* Slim horizontal scrollbar */
}

/* Style the scrollbar track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray track */
  border-radius: 10px;  /* Rounded corners */
}

/* Style the scrollbar thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #888;  /* Gray thumb */
  border-radius: 10px;  /* Rounded corners */
  border: 2px solid #f1f1f1;  /* Light border for contrast */
}

/* Style the scrollbar thumb on hover (when it's being interacted with) */
::-webkit-scrollbar-thumb:hover {
  background: #555;  /* Darker thumb on hover */
}
